# Bootstrap
#app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/.htaccess

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/parameters_dev.yml
app/config/config.yml

# misc
*nbproject*
*~
*.bat
*.dia.autosave
composer.phar
*.old
