{% extends 'FFNMonBundle::layout.html.twig' %}

{% block metarefresh %}
  <meta http-equiv="refresh" content="30">
{% endblock %}

{% block body %}

  <div class="container">
    {% include 'FFNMonBundle:Common:project_headerbar.html.twig' %}
  </div>

  <div class="container">
    <div class="row">
      <em>{{ 'mon_graph_interval_sentence_1' | trans }} {{ start | date('d/m/Y H:i:s', timezone) }} {{ 'mon_graph_interval_sentence_2' | trans }} {{ stop | date('d/m/Y H:i:s', timezone) }}</em>
    </div>
  </div>
  
{% endblock %}