{% extends 'FFNMonBundle::layout.html.twig' %}

{% block metarefresh %}
  <meta http-equiv="refresh" content="30">
{% endblock %}

{% block body %}

  <div class="container">
    {% include 'FFNMonBundle:Common:project_headerbar.html.twig' %}
  </div>

{% endblock %}