{% extends 'FFNMonBundle::layout.html.twig' %}
{% block body %}
<div class="row">
  <div class="span12 page-header">
    <h1>{{ "mon_about" | trans({}, 'messages') | raw }}</h1>
  </div>
      <div class="span4">
        <p>MON est un projet de monitoring externe. Il existe en 4 modes :
        <ol>
            <li>Online (ce site)</li>
            <li>Externalisé et privé dans notre infrastructure</li>
            <li>Solution logicielle gérée par vos équipes</li>
            <li>Appliance type "boite noire"</li>
        </ol>
      </p>
      <p>Pour toute demande de tarif <a href="contact">nous contatcter</a>.</p>
        </div>
</div>
{% endblock %}