{% extends 'FFNMonBundle::layout.html.twig' %}

{% block body %}

<div class="container">
  <div class="row-fluid">
    <div class="span12 page-header">
      <h1>{{ "mon_about" | trans({}, 'messages') | raw }}</h1>
    </div>
    <div class="span4">
      <p>MON is an external monitoring tool. It's available in 4 modes :
      <ol>
        <li>Online (this site)</li>
        <li>Dedicated instance hosted in our Datacenters</li>
        <li>Dedicated instance (software solution) hosted in you datacenter</li>
        <li>Appliance type "balx box"</li>
      </ol>
      </p>
      <p>For any quotation please do not hesitate to <a href={{ path('mon_contact') }}>contact us</a>.</p>
    </div>
  </div>
</div>

{% endblock %}