{% extends 'FFNMonBundle::layout.html.twig' %}

{% block body %}

<div class="container">
  <div class="row-fluid">
    <div class="span12 page-header">
      <h1>{{ "mon_contact" | trans({}, 'messages') | raw }}</h1>
    </div>
    <div class="span4">
      <p>Differents ways:
      <ul>
        <li>By phone : <a href="callto:0033607365572">+33.6.07.36.55.72</a> (from 8am to 8pm GMT+1)</li>
        <li>By mail : <a href="mailto:contact@mon.it">contact@mon.it</a></li>
        <li>On irc : <a href="irc.freenode.net">#mon.it sur freenode.net</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}