<p>Switch to :
    {% for locale in locales %}
            <a href="{{ locale.link }}" title="{{ locale.locale }}"><img width="48" height="48" src="{{ 
            asset('bundles/ffnmon/images/' ~ (locale.locale | lower) ~ '.png') }}" ></a>
    {% endfor %}
</p>