{% extends 'FFNMonBundle::layout.html.twig' %}
<div id="chart_div" style="width: 900px; height: 500px;"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
        {% block chart-data %}    
    ]);

    var options = {
      title: 'URL response time',
      hAxis: {title: 'Time',  titleTextStyle: {color: 'red'}},
      isStacked: true
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
