{% extends 'FFNMonBundle::layout.html.twig' %}
{% set nb_scenarios = scenarios|length %}
{% block body %}
<div class="container">
  {% include 'FFNMonBundle:Common:project_headerbar.html.twig' %}
  {% if nb_scenarios > 0 %}
  <table class="table table-striped">
    <caption>Liste des scenarios</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>nom</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for scenario in scenarios %}
      <tr>
        <td>{{scenario.id}}</td>
        <td>{{scenario.name}}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  
</div> <!-- /container -->
{% endblock %}