body {
  padding-top: 60px;
  /*padding-bottom: 40px;*/
}

/* forms */
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* tables */
table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url('../images/bg.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
  line-height: 31px;
}
table.tablesorter tbody td p{
  margin: 0px;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url('../images/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
  background-image: url('../images/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}

.edit_icon{
  background: url("../images/preview_icons.jpg") no-repeat scroll -105px -214px transparent;
  width: 32px;
  height: 32px;
  display: block;
}

.delete_icon{
  background: url("../images/preview_icons.jpg") no-repeat scroll -236px -124px transparent;
  width: 32px;
  height: 32px;
  display: block;
}

.alertRight.on {
  background-position: 0 -30px;
}

.alertRight.off {
  background-position: 0 0;
}

.alertRight {
  background: url("../images/btn_switch.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 60px;
}

.icoSun {
  background: url("../images/weather_icons.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 40px;
  background-position: -44px 1px;
}

.icoCloud {
  background: url("../images/weather_icons.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 40px;
  background-position: 0px -88px;
}

.icoRain {
  background: url("../images/weather_icons.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 40px;
  background-position: 0px -131px;
}

.icoStorm {
  background: url("../images/weather_icons.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 40px;
  background-position: -44px -88px;
}

.icoSun-old {
  background: url("../images/weather_icons_old.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 43.6px;
  background-position: -4px 0px;
}

.icoCloud-old {
  background: url("../images/weather_icons_old.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 43.6px;
  background-position: -44px -80px;
}

.icoRain-old {
  background: url("../images/weather_icons_old.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 43.6px;
  background-position: -171px -80px;
}

.icoStorm-old {
  background: url("../images/weather_icons_old.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 43.6px;
  background-position: -129px -120px;
}
.imgSun {
  background: url("../images/weather_images.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 100px;
  width: 280px;
  background-position: -320px -75px;
}

.imgCloud {
  background: url("../images/weather_images.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 100px;
  width: 370px;
  background-position: 0px -75px;
}

.imgRain {
  background: url("../images/weather_images.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 100px;
  width: 370px;
  background-position: 0px -350px;
}

.imgStorm {
  background: url("../images/weather_images.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 100px;
  width: 370px;
  background-position: -300px -350px;
}

.blue-outline {
    border-style:solid;
    border-color: rgba(0, 0, 255, .5);
    border-width: 1px;
}