{% block footer %}
<footer>
  <div class="container">
    <div class="row">
      <hr>{{ locale_switcher() }}
    </div>
    <div class="row">
      <hr><p>&copy; Webofmars 2013</p>
    </div>
  </div>
</footer>
{% endblock %}