<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ path("mon_home") }}">
        Mon
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path("fos_user_security_logout")}}">{{ 'bgd_logout' | trans({}, 'messages') | raw }}</a></li>
          {% endif %}
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>